@import './var.less';
//@import '~antd/dist/antd.dark.less'; // 引入官方提供的暗色 less 样式入口文件
//@import '~antd/dist/antd.compact.less'; // 引入官方提供的紧凑 less 样式入口文件

html,
body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	padding: 0;
	margin: 0;
}

:root {
	--primary-color: @primary-color;
	--divider-color: #eee;
	--white: #fff;
	--page-background-color: #f0f2f5;
	--theme-dark-color: #001529;
	--default-font-color: #333;
	--font-size-default: 16px;
	--font-size-titlle: 18px;
}

.app-container {
	width: 100%;
	min-height: 768px;
	display: flex;
	justify-content: center;
	align-items: center;
}
